.footer {
  width: 100%;
  text-align: center;
  vertical-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
  background-color: white;
}

.conversation-home {
  justify-content: center;
  width: 100%;
}

.background-color {
  min-height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: #f4f5f8;
}
.new-chat {
  position: fixed;
  bottom: 10%;
  width: 100%;
  text-align: center;
  vertical-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
  float: right;
}

.add-conversation-button {
  height: 60px;
  width: 60px;
  box-shadow: 0px 1px 5px black;
}
